* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a:focus,
button:focus,
input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn_link, .section-home a {
  border: solid 1px #0ee951;
  color: #fff;
  padding: 10px 30px;
  -webkit-box-shadow: 5px 5px 0px 0px #0ee951;
          box-shadow: 5px 5px 0px 0px #0ee951;
}
.btn_link:hover, .section-home a:hover {
  color: #0ee951;
  -webkit-box-shadow: 3px 3px 0px 0px #0ee951;
          box-shadow: 3px 3px 0px 0px #0ee951;
}

.header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .logo {
  color: #fff;
  font-weight: 700;
}
.header .logo:hover {
  color: #0ee951;
}
.header .ul-list li a {
  color: #fff !important;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.header .ul-list li a active {
  color: #0ee951 !important;
  font-weight: 700;
}
.header .ul-list li a:hover {
  color: #0ee951 !important;
}
.header .social a {
  background: -webkit-gradient(linear, left top, left bottom, from(#0ee951), to(#00dabf)) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
@media (max-width: 991px) {
  .header {
    background: #1c262f !important;
  }
}

.scroll_header {
  background: #1c262f !important;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.03);
}

.section-home {
  background-image: url(../images/home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.section-home .title h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}
.section-home .title h1 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#0ee951), to(#00dabf));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .section-home .title h1 {
    font-size: 40px;
  }
}
.section-home .title p {
  opacity: 0.7;
  color: #f8f9fa;
}
.section-home .view span {
  color: white !important;
  display: block;
  margin-bottom: 15px;
}
.section-home .view span svg {
  color: #0ee951;
}
.speed {
  background: #212d37;
  color: #fff;
}
.speed .box {
  background: #1c262f;
}
.speed .box svg {
  color: #0ee951;
}
.speed .box p {
  opacity: 0.7;
}
.speed .about-us .box_item h2 {
  font-size: 50px;
}
@media (max-width: 767px) {
  .speed .about-us .box_item h2 {
    font-size: 30px;
  }
}
.speed .about-us .box_item p {
  opacity: 0.7;
}

.services {
  background: #1c262f;
  color: #fff;
}
.services .box {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services .box:hover {
  border: solid 1px #0ee951 !important;
  color: #fff;
  padding: 10px 30px;
  -webkit-box-shadow: 5px 5px 0px 0px #0ee951;
          box-shadow: 5px 5px 0px 0px #0ee951;
}
.services .box svg {
  color: #0ee951;
}

.plans {
  background: #212d37;
  color: #fff;
}
.plans .box svg {
  color: #0ee951;
}

.work {
  background: #1c262f;
  color: #fff;
}
.work .icon svg {
  color: #0ee951;
  margin-bottom: 10px;
}
.work .testimonials .swiper-slide {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #0ee951, #00dabf);
}
.work .testimonials .swiper-slide img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.subscribe {
  background: #212d37;
  color: #fff;
}
.subscribe .input-box button {
  border-width: 2px;
  padding: 10px 30px;
  border-image-slice: 1;
  background-image: none;
  background: transparent;
  border-image-source: linear-gradient(to right, #0ee951, #00dabf);
}

.contact {
  background: #1c262f;
}